body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8C93A8;
    font-family: sans-serif;
}

.home-page-container {
    background-image: url("background-image.jpg");
    background-size: cover;
    width: 720px;
    height: 450px;
    margin: 100px auto;
}

.js-home-page {
    background-color: rgba(16,16,23,0.7);
    color: white;
    text-align: center;
    margin: auto;
    width: 650px;
    padding: 10px;
    position: relative;
    top: 150px;
}

.results-list {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.js-recipe-index {
    list-style-type: none;
    display: block;
    margin: 20px;
}

h3.title {
    margin-left: 50px;
}
.js-input {
    margin-left: 50px;
}
.js-results-submit,
.js-return-submit {
    /* border: 1px solid red; */
    /* width: 45%; */
    margin-left: 5px;
}

.js-recipe-page {
    margin-top: 50px;
    margin-left: 50px;
}